In [4]:
# Load Dataset
import pandas as pd
import numpy as np

df=pd.read_csv("adult_with_headers.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
(df==0).sum()

age                   0
workclass             0
fnlwgt                0
education             0
education_num         0
marital_status        0
occupation            0
relationship          0
race                  0
sex                   0
capital_gain      29849
capital_loss      31042
hours_per_week        0
native_country        0
income                0
dtype: int64

In [6]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [7]:
# 1) Handle missing values
# They represent “no gain/loss,” which is real information.
# so keep them as it is

In [8]:

cat_cols=['workclass','education','marital_status','occupation',
         'relationship','race','sex','native_country']

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
# 2) ENCODING TECHNIQUES  (Label Encoding)

from sklearn.preprocessing import LabelEncoder,OneHotEncoder

LE=LabelEncoder()
for col in cat_cols:
    df[col]=LE.fit_transform(df[col].astype(str))

print("Encoding Technique (Label Encoding) ")
df.head()

Encoding Technique (Label Encoding)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,7,77516,9,13,4,1,1,4,1,2174,0,40,39,<=50K
1,50,6,83311,9,13,2,4,0,4,1,0,0,13,39,<=50K
2,38,4,215646,11,9,0,6,1,4,1,0,0,40,39,<=50K
3,53,4,234721,1,7,2,6,0,2,1,0,0,40,39,<=50K
4,28,4,338409,9,13,2,10,5,2,0,0,0,40,5,<=50K

In [11]:
OH=OneHotEncoder(drop='first', sparse_output=False)

df_enc=pd.DataFrame(OH.fit_transform(df[cat_cols]),
                    columns=OH.get_feature_names_out(cat_cols))
df=pd.concat([df.drop(columns=cat_cols),df_enc],axis=1)

print("Encoding Technique (One Hot Encoding) ")
df.head()

Encoding Technique (One Hot Encoding)

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income,workclass_1,workclass_2,workclass_3,...,native_country_32,native_country_33,native_country_34,native_country_35,native_country_36,native_country_37,native_country_38,native_country_39,native_country_40,native_country_41
0,39,77516,13,2174,0,40,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,50,83311,13,0,0,13,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,38,215646,9,0,0,40,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,53,234721,7,0,0,40,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,28,338409,13,0,0,40,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Columns: 101 entries, age to native_country_41
dtypes: float64(94), int64(6), object(1)
memory usage: 25.1+ MB

In [13]:
#  variables

num_cols=df.select_dtypes(include=['int64','float64']).columns
y=df["income"]

In [14]:
# 1a)  STANDARD SCALAR

from sklearn.preprocessing import StandardScaler,MinMaxScaler

ss=StandardScaler()
df[num_cols]=ss.fit_transform(df[num_cols])

print("Standard Scaling : ")
df.head()

Standard Scaling :

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income,workclass_1,workclass_2,workclass_3,...,native_country_32,native_country_33,native_country_34,native_country_35,native_country_36,native_country_37,native_country_38,native_country_39,native_country_40,native_country_41
0,0.030671,-1.063611,1.134739,0.148453,-0.21666,-0.035429,<=50K,-0.174295,-0.262097,-0.014664,...,-0.033729,-0.059274,-0.019201,-0.049628,-0.039607,-0.023518,-0.024163,0.340954,-0.045408,-0.022173
1,0.837109,-1.008707,1.134739,-0.145920,-0.21666,-2.222153,<=50K,-0.174295,-0.262097,-0.014664,...,-0.033729,-0.059274,-0.019201,-0.049628,-0.039607,-0.023518,-0.024163,0.340954,-0.045408,-0.022173
2,-0.042642,0.245079,-0.420060,-0.145920,-0.21666,-0.035429,<=50K,-0.174295,-0.262097,-0.014664,...,-0.033729,-0.059274,-0.019201,-0.049628,-0.039607,-0.023518,-0.024163,0.340954,-0.045408,-0.022173
3,1.057047,0.425801,-1.197459,-0.145920,-0.21666,-0.035429,<=50K,-0.174295,-0.262097,-0.014664,...,-0.033729,-0.059274,-0.019201,-0.049628,-0.039607,-0.023518,-0.024163,0.340954,-0.045408,-0.022173
4,-0.775768,1.408176,1.134739,-0.145920,-0.21666,-0.035429,<=50K,-0.174295,-0.262097,-0.014664,...,-0.033729,-0.059274,-0.019201,-0.049628,-0.039607,-0.023518,-0.024163,-2.932948,-0.045408,-0.022173

In [15]:
#  1b)  MIN - MAX SCALAR

mm=MinMaxScaler()
df[num_cols]=mm.fit_transform(df[num_cols])

print("Min - Max Scaling : ")
df.head()

Min - Max Scaling :

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income,workclass_1,workclass_2,workclass_3,...,native_country_32,native_country_33,native_country_34,native_country_35,native_country_36,native_country_37,native_country_38,native_country_39,native_country_40,native_country_41
0,0.301370,0.044302,0.800000,0.02174,0.0,0.397959,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.452055,0.048238,0.800000,0.00000,0.0,0.122449,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.287671,0.138113,0.533333,0.00000,0.0,0.397959,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.493151,0.151068,0.400000,0.00000,0.0,0.397959,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.150685,0.221488,0.800000,0.00000,0.0,0.397959,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
'''
StandardScaler
Works best for Linear Regression, Logistic Regression, SVM, PCA etc.,
where models assume normally distributed data

MinMaxScaler
Used in Neural Networks, KNN, Clustering, etc., because they are 
distance-based and sensitive to magnitude
'''

'\nStandardScaler\nWorks best for Linear Regression, Logistic Regression, SVM, PCA etc.,\nwhere models assume normally distributed data\n\nMinMaxScaler\nUsed in Neural Networks, KNN, Clustering, etc., because they are \ndistance-based and sensitive to magnitude\n'

In [17]:
#  SUMMARY STATISTICS
df.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_1,workclass_2,workclass_3,workclass_4,...,native_country_32,native_country_33,native_country_34,native_country_35,native_country_36,native_country_37,native_country_38,native_country_39,native_country_40,native_country_41
count,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,...,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000
mean,0.295639,0.120545,0.605379,0.010777,0.020042,0.402423,0.029483,0.064279,0.000215,0.697030,...,0.001136,0.003501,0.000369,0.002457,0.001566,0.000553,0.000584,0.895857,0.002058,0.000491
std,0.186855,0.071685,0.171515,0.073854,0.092507,0.125994,0.169159,0.245254,0.014661,0.459549,...,0.033691,0.059068,0.019194,0.049507,0.039546,0.023506,0.024149,0.305451,0.045316,0.022162
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.150685,0.071679,0.533333,0.000000,0.000000,0.397959,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,0.273973,0.112788,0.600000,0.000000,0.000000,0.397959,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,0.424658,0.152651,0.733333,0.000000,0.000000,0.448980,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [18]:
#  3.    FEATURE ENGINEERING

In [19]:
#  "work_hours_category"===Income often depends on how much a person works
#  "capital_diff"===Shows extra income potential

new_cols = pd.DataFrame({
    'work_hours_category': pd.cut(df['hours_per_week'],
                                  bins=[0, 30, 40, 50, 100],
                                  labels=['part-time', 'full-time', 'over-time', 'workaholic']),
    'capital_diff': df['capital_gain'] - df['capital_loss']
})

df = pd.concat([df, new_cols], axis=1).copy()
df.head()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income,workclass_1,workclass_2,workclass_3,...,native_country_34,native_country_35,native_country_36,native_country_37,native_country_38,native_country_39,native_country_40,native_country_41,work_hours_category,capital_diff
0,0.301370,0.044302,0.800000,0.02174,0.0,0.397959,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,part-time,0.02174
1,0.452055,0.048238,0.800000,0.00000,0.0,0.122449,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,part-time,0.00000
2,0.287671,0.138113,0.533333,0.00000,0.0,0.397959,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,part-time,0.00000
3,0.493151,0.151068,0.400000,0.00000,0.0,0.397959,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,part-time,0.00000
4,0.150685,0.221488,0.800000,0.00000,0.0,0.397959,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,part-time,0.00000

In [20]:
# LOG TRANSFORMATION

df['capital_gain_log'] = np.log1p(df['capital_gain'])
df

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income,workclass_1,workclass_2,workclass_3,...,native_country_35,native_country_36,native_country_37,native_country_38,native_country_39,native_country_40,native_country_41,work_hours_category,capital_diff,capital_gain_log
0,0.301370,0.044302,0.800000,0.021740,0.0,0.397959,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,part-time,0.021740,0.021507
1,0.452055,0.048238,0.800000,0.000000,0.0,0.122449,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,part-time,0.000000,0.000000
2,0.287671,0.138113,0.533333,0.000000,0.0,0.397959,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,part-time,0.000000,0.000000
3,0.493151,0.151068,0.400000,0.000000,0.0,0.397959,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,part-time,0.000000,0.000000
4,0.150685,0.221488,0.800000,0.000000,0.0,0.397959,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,part-time,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.136986,0.166404,0.733333,0.000000,0.0,0.377551,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,part-time,0.000000,0.000000
32557,0.315068,0.096500,0.533333,0.000000,0.0,0.397959,>50K,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,part-time,0.000000,0.000000
32558,0.561644,0.094827,0.533333,0.000000,0.0,0.397959,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,part-time,0.000000,0.000000
32559,0.068493,0.128499,0.533333,0.000000,0.0,0.193878,<=50K,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,part-time,0.000000,0.000000
32560,0.479452,0.187203,0.533333,0.150242,0.0,0.397959,>50K,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,part-time,0.150242,0.139972